/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;400;600;700;900&display=swap'); */

/* --color-primary: #6363ff; */

:root {
    --color-primary: #6363ff;
    --color-secondary: #162233;
    --color-primary-light: #7ebbf810;
    --color-primary-light-2: #6363ff20;
    --color-primary-light-3: #6363ff50;
    --box-shadow: 0 4px 8px #3c9afe33,
                  0 -4px 8px #85c0ff33;
    --box-shadow-normal: 0 4px 8px #d2d2d233,
                         0 -4px 8px #d2d2d233;
    --box-shadow-normal-inset: inset 0 4px 8px #3c9afe33,
                         inset 0 -4px 8px #85c0ff33;
    --box-shadow-normal-dark: 0 4px 8px #0000001a,
                         0 -4px 8px #0000001a;
    --box-shadow-thin-dark: 0 2px 4px #0000001a,
                         0 -2px 4px #0000001a;
    --transition: .4s ease;
    --bg-color: #fff;
    --bg-color-transparent: #ffffff40;
    --bg-color-dark-transparent: #00000010;

    --border-darkgray: #ddd;
    --bg-color-dark: #1c1c1c;
    --bg-color-dark-second: #2f2f2f;
    --bg-color-light: #ffffff;
    --bg-color-light-second: #efefef;

    --bg-color-success: #00880020;
    --bg-color-error: #ff000020;
    --bg-color-warning: #ffa50020;
    --bg-color-primary: #6363ff20;
    --text-color-success: #008800;
    --text-color-error: #ff0000;
    --text-color-warning: #ffa500;
    --text-color-primary: #6363ff;

    --text-color: #333;
    --text-color-white: #fff;
}

[x-cloak]{
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition: .4s ease;
    margin-bottom: 0!important;
    /* background-image: url('../../storage/app/public/images/pngwing-3.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* body.user {
    padding: 0 7.5%!important;
} */

body.dash {
    height: 100vh;
    overflow-y: hidden;
}

section {
    width: 100%;
    /* margin-top: 50px; */
}

.bg_ball_style {
    width: 550px;
    height: 550px;
    margin: 10px;
    border-radius: 50%;
    filter: blur(45px);
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.bg_ball_style.ball1 {
    background: #0083fd49;
    right: -350px;
    top: 300px;
}

.bg_ball_style.ball2 {
    background: #0083fd49;
    left: 100px;
    top: -390px;
}

button {
    cursor: pointer;
}

ion-icon {
    visibility: visible!important;
}


/*================ Search Zone ================*/

.search-zone {
    padding: 25px 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: var(--color-primary-light); */
    border-radius: 10px;
    margin: 70px 10px 10px;
}

.search-zone h3 {
    align-self: flex-start;
    padding: 15px 9%;
    color: var(--color-primary);
}

.search-zone .search-form {
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-primary-light);
    padding: 10px 10px;
    border-radius: 10px9;
}

.search-zone .search-form .inputcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.search-zone .search-form .inputcontainer label {
    padding: 0 10px;
    color: var(--color-primary);
}

.search-zone .search-form .search-bar {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--color-primary);
    background: #ffffff27;
    backdrop-filter: blur(100px);
    border-radius: 5px;
    margin: 0 5px;
    outline: none;
    font-size: .9rem;
    font-weight: 300;
    color: #333;
}

.search-zone .search-form button {
    padding: 5px 10px;
    background: var(--color-primary-light);
    border: .5px solid var(--color-primary);
    border-radius: 5px;
    justify-self: flex-end;
    align-self: flex-end;
    height: 30px;
}

.search-zone .search-form button:hover {
    background: var(--color-primary-light-2);
}

ion-icon {
    visibility: visible!important;
}
