/* ===================== Connexion =================== */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3 {
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}

.container .connexion {
    width: 500px;
    display: flex;
    margin: 20px;
}

.container .connexion-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container .connexion-form .input {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    outline: none;
    border: .5px solid var(--color-primary);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    margin: 10px 0 25px;
    background: #fff;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}

.container .checkbox-container {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding: 15px;
    margin: 5px;
    color: var(--color-primary);
}

.container .connexion-form .checkbox {
    height: 15px;
    width: 15px;
}

.container .connexion-form button {
    height: 45px;
    padding: 5px 10px;
    background: var(--color-primary-light);
    color: var(--color-primary);
    font-weight: 600;
    align-self: flex-end;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

.container .connexion-form button:hover {
    background: var(--color-primary-light-2);
}

.container .connexion-option {
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 15px;
    padding:  0 10px;
    margin: 0;
}

.container .connexion-option a {
    text-decoration: none;
    color: var(--color-primary-light-3);
}

.container .connexion-option a:hover {
    color: var(--color-primary);
}

.container .connexion-option p {
    text-decoration: none;
    color: var(--color-primary);
}

.container .message {
    width: 480px;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.container .error {
    background: #ff000020;
}

.container .success {
    background: #04ff0020;
}
