@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 70px auto;
    gap: 10px;
    transition: grid-template-columns 0.5s;
}

.container.develop {
    grid-template-columns: 300px auto;
}

.navigation {
    position: relative;
    height: 100vh;
    width: 70px;
    background: #ffffff5c;
    box-shadow: 10px 0 0 #4187f6;
    border-left: 10px solid #ffffff5c;
    overflow-x: hidden;
    transition: width 0.5s;
    backdrop-filter: blur(100px);
    z-index: 2;
}

.navigation.hoverrable {
    width: 300px;
}

.navigation .sidebar-title {
    width: 100%;
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.navigation .sidebar-title h3 {
    display: none;
    transition: display .4s ease;
}

.navigation.hoverrable .sidebar-title h3 {
    display: block;
    transition: display .4s ease;
}

.navigation ul {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background: #4187f6;
}

.navigation ul li.active:hover {
    background: #4187f6;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    /* background: #ffffff5c; */
    border-radius: 50%;
    box-shadow: 15px 15px 0 #4187f6;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    /* background: #ffffff5c; */
    border-radius: 50%;
    box-shadow: 15px -15px 0 #4187f6;
}

.navigation ul li:hover {
    background: #4186f66d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.main .title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 15px;
    /* background: #ffffff40; */
    background: var(--color-primary-light);
    backdrop-filter: blur(100);
    border-radius: 5px;
    margin: 0 0 15px;
}



.main .sidebarOptions {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.2s;
    background: transparent;
}

.main .sidebarOptions.show {
    visibility: visible;
    transition: visibility 0s;
}

.sidebarOptions .sidebarOptionContainerOverlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff10;
    /* transition: opacity 0.4s 0.2s ease-out; */
}

.sidebarOptions.show .sidebarOptionContainerOverlay {
    opacity: 1;
    /* transition: opacity 0.4s ease-out; */
}


.main .sidebarOptions .sidebarOptionContainer {
    opacity: 0;
    position: absolute;
    left: 15px;
    top: 50%;
    width: 300px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    background-color: #fff;
    border: .5px solid var(--color-primary);
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 85px);
    grid-template-rows: repeat(3, 90px);
    gap: 15px;
    box-shadow: var(--box-shadow);
    transform: translate(-450px, -50%);
    transition: all .4s .2s ease;
}

.main .sidebarOptions.show .sidebarOptionContainer {
    opacity: 1;
    transform: translate(0, -50%);
}

/* .main .sidebarOptionContainer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -14px;
    z-index: -1;
    width: 15px;
    height: 15px;
    border-left: .25px solid var(--color-primary);
    border-bottom: .25px solid var(--color-primary);
    background: var(--bg-color-light);
    transform: rotate(45deg) translate(0%, -50%);
} */

.main .sidebarOptionContainer .optionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    transition: all .4s ease;
}

.main .sidebarOptionContainer .optionContainer:hover {
    box-shadow: var(--box-shadow-normal);
}

.main .sidebarOptionContainer .optionContainer ion-icon {
    font-size: 2rem;
    color: #333;
}


.main .information-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0;
    padding: 0 35px;
}

.main .information-group .information-bloc {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4187f6;
    border-radius: 15px;
    color: #fff;
}

.information-bloc .cammanber {
    width: 125px;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-bloc .cammanber svg {
    transform: translateY(-4px);
    height: 85%;
}

.information-bloc .cammanber svg circle {
    fill: none;
    stroke: #fff;
    stroke-width: 8px;
    transform: translate(5px, 5px);
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    stroke-linecap: round;
    animation: circle 2s forwards;
}

@keyframes circle {
    to {
        stroke-dashoffset: 70.75;
    }
}

.information-bloc .cammanber span {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.information-bloc .information {
    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.optional {
    width: 100%;
    padding: 5px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.optional .buttons {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.optional .buttons button {
    min-width: 18%;
    padding: 0 10px;
    height: 35px;
    margin-right: 35px;
    background: #6363ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
}

.optional form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.optional .buttons button a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optional .buttons button:hover {
    background: #fff;
    color: #6363ff;
    border: .5px solid #6363ff;
}

.optional .search-box {
    height: 100%;
    position: relative;
    font-size: 1.2rem;
}

.optional .search-box input {
    width: 100%;
    padding: 5px 25px 5px 10px;
    border: 0.1px solid #6363ff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: #b0d2f710;
}

.optional .search-box ion-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary);
}


.message {
    width: 94%;
    align-self: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0;
}

.message.success {
    background: #00ff0020;
    color: #0c0;
}

.message.error {
    background: #ff000020;
    color: #f00;
}


.tableau {
    width: 100%;
    height: 90vh !important;
    padding: 15px 45px;
    overflow-y: scroll;
    font-size: .8rem;
    font-weight: 400;
}

.tableau::-webkit-scrollbar {
    width: 10px;
    background: #fff;
    border-radius: 8px;
}

.tableau::-webkit-scrollbar-thumb {
    background: #33333320;
    border-radius: 8px;
}

/* DashBoardCard */

.cardContainer {
    width: 100%;
    height: 90vh !important;
    padding: 15px 45px;
    overflow-y: scroll;
    /* background: #4186f63e; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cardContainer .card {
    background: var(--bg-color);
    height: 230px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: var(--box-shadow-normal);
    border: .5px solid var(--color-primary);
}

.cardContainer .card .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-bottom: .5px solid #80808080;
}

.cardContainer .card .head .titleInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cardContainer .card .head .titleInfos h3 {
    font-size: .9rem;
    font-weight: 400;
}

.cardContainer .card .head .titleInfos span {
    font-size: .7rem;
    color: #33333380;
}

.cardContainer .card .head span {
    font-size: .8rem;
    color: #33333380;
}

.cardContainer .card .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    /* background: #4186f66d; */
    height: 65%;
}

.cardContainer .card .body .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    /* background: #0c0; */
    color: #333;
}

.cardContainer .card .body .info p {
    font-size: .9rem;
    font-weight: 400;
}

.cardContainer .card .body .info span {
    font-size: .8rem;
    opacity: .5;
    font-weight: 400;
}

.cardContainer .card .foot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    margin: 0 0 10px;
    /* background: #33333320; */
    height: 15%;
}

.cardContainer .card .foot a {
    padding: 5px;
    text-decoration: none;
    color: #0c0;
    font-size: .8rem;
    background: #00cc0020;
    border-radius: 5px;
}






/* ===================== Manager Dashboard Add ====================== */

.optional .check-categorie-documents {
    height: 100%;
    width: 250px;
}

.optional .check-categorie-documents select {
    width: 100%;
    padding: 5px 10px;
    border: 0.1px solid #6363ff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: #b0d2f710;
}
