input {
    outline: none;
    padding: 10px;
    font-family: 'Poppins' sans-serif;
    font-size: 1rem;
    border-radius: 5px;
}


.voirInfosDoc,
.plusInfos {
    width: 100%;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    border: .1px solid #6363ff;
}

.voirDoc {
    width: 35%;
    position: relative;
    border-right: 1px solid #6363ff;
}

.voirDoc .doc {
    width: 200px;
    height: 200px;
}

.voirDoc .doc a {
    width: 100%;
    height: 100%;
}

.voirDoc .doc a ion-icon {
    width: 100%;
    height: 100%;
}

.voirDoc .badge {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 5px 10px;
    background: #ffd70020;
    color: gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
}

.infosDoc {
    width: 65%;
    /* background: #3c8ffd; */
}

.table tbody th,
.table tbody td {
    border-bottom: 1px solid #0000004d;
    border-top: 1px solid transparent;
}

.table tbody tr:nth-child(odd) {
    background-color: #edf7fb;
    /* color: #000; */
}



.loanRequest {
    /* min-height: 90vh; */
    width: 100%;
    /* background: #3c8ffd; */
    padding: 10px 20px;
    margin: 30px 0;
    background: #7ebbf810;
}

.loanRequest .formContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.loanRequest .formContainer h1 {
    grid-column: 1 / span 4;
    /* background: #f97878; */
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
}

.loanRequest .formContainer .loanForm {
    grid-column: 1 / span 4;
    display: grid;
    gap: 10px 5px;
    grid-template-columns: repeat(4, 1fr);
    /* background: #3cfd5c; */
    padding: 15px;
}


.inputs input,
.inputs textarea,
.inputs select {
    width: 100%;
    padding: 10px;
    border: 0.1px solid #6363ff;
    /* border-bottom: 2px solid gray; */
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: #b0d2f710;
    resize: none;
}

.inputs.motif {
    grid-column: 1 / 5;
}

.inputs.firstname,
.inputs.durée {
    grid-column: 1 / 3;
}

.inputs.lastname {
    grid-column: 3 / 5;
}

form button {
    grid-column: 1 / 5;
    justify-self: flex-end;
    height: 35px;
    background: var(--bg-color-light-2);
    border: .5px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px 10px;
}

form button:hover {
    background: var(--bg-color-light);
}

.loanForm.disabled input,
.loanForm.disabled textarea,
.loanForm.disabled button,
.loanForm.disabled label {
    pointer-events: none;
    border-color: var(--color-primary-light-3);
    opacity: .4;
    color: var(--color-primary-light-3);
}


