/*================ Document List ================*/

.documentList {
    width: 100%;
    min-height: 80vh;
    transition: .4s ease;
    padding: 0 7.5%;
}

.documentList.marge {
    margin-top: 20px;
}

.documentList .sectionIndication {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    padding: 10px 25px;
}

.documentList .sectionIndication h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.documentList .sectionIndication .searchBar {
    width: 35%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentList .sectionIndication .searchBar form {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentList .sectionIndication .searchBar form input[type='search'] {
    width: 100%;
    height: 35px;
    padding: 0 10px 0 35px;
    border: 1px solid var(--color-primary);
    outline: none;
    border-radius: 15px;
    font-size: 1.1rem;
    background: var(--bg-color-transparent);
}

.documentList .sectionIndication .searchBar form ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--color-primary);
}

.documentList .sectionIndication .listOption {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    min-width: 100px;
    font-size: 1.5rem;
}

.documentList .sectionIndication .listOption ion-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 5px;
    transition: .2s ease;
    cursor: pointer;
    color: var(--color-primary);
}

.documentList .sectionIndication .listOption ion-icon:hover {
    background: var(--bg-color-dark-transparent);
}

/*================ List ================*/

.documentList.list {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.documentList.list .documents {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    border-radius: 5px;
}
.documentList.list .documents form {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 15px; */
    margin-bottom: 35px;
}

.btndownload {
    align-self: flex-start;
}

.documentList.list .document {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--boder-darkgray);
    transition: .2s ease;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.documentList.list .document:hover {
    background: var(--color-primary-light);
}

.documentList.list .document  .documentLine {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.documentList.list .document  .documentLine .documentIcon {
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentList.list .document  .documentLine .documentIcon ion-icon {
    font-size: 3.5rem;
    background: var(--bg-color);
    border-radius: 10px;
}

.documentList.list .document  .documentLine .documentIcon img {
    width: 35px;
}

/* .documentList.list .document  .documentLine .documentIcon ion-icon[name='folder'] {
    font-size: 3.5rem;
    border-radius: 10px;
    color: #fee503;
}

.documentList.list .document  .documentLine .documentIcon ion-icon[name='document-text-outline'] {
    font-size: 3.5rem;
    border-radius: 10px;
    color: var(--color-primary);
    background: #fff;
} */

.documentList.list .document  .documentLine .documentName {
    width: 400px;
    overflow: hidden;
    text-align: center;
}

.documentList.list .document  .documentLine .documentName p a {
    text-decoration: underline;
    color: var(--color-primary);
}


.documentList.list .document  .documentLine .documentCreationDate {
    margin-right: 10px;
}

.documentList.list .document  .documentLine .documentOptions {
    width: 345px;
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.documentList.list .document  .documentLine .documentOptions button {
    height: 35px;
    border: none;
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 1rem;
    padding: 0 10px;
    background: transparent;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.documentList.list .document  .documentLine .documentOptions button:hover {
    background: var(--color-primary-light-2);
}

.documentList.list .document  .documentLine .documentOptions button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color-primary);
    gap: 10px;
}

/*================ Grid ================*/

.documentList.grid {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.documentList.grid .documents {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 15px;
    justify-content: center;
    margin-bottom: 35px;
}

.documentList.grid .documents .btndownload {
    grid-column: span 5;
    width: 100px;
}

/* .documentList.grid .documents form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 15px;
    justify-content: center;
    margin-bottom: 35px;
} */

.documentList.grid .documents .document {
    width: 190px;
    height: 260px;
    background: var(--color-primary-light);
    margin: 5px;
    border-radius: 10px;
    /* border-bottom: 1px solid #bbb; */
    padding: 5px 10px;
    transition: .4s ease;
}

/* .documentList.grid .documents .document  {
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
} */

.documentList.grid .document  .documentLine {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.documentList.grid .document  .documentLine .documentIcon {
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentList.grid .document  .documentLine .documentIcon ion-icon {
    width: 60%;
    height: 90%;
    background: #fff;
    border-radius: 10px;
}

.documentList.grid .document  .documentLine .documentIcon img {
    width: 75px;
}

/* .documentList.grid .document  .documentLine .documentIcon ion-icon[name='folder'] {
    font-size: 3.5rem;
    border-radius: 10px;
    color: #fee503;
}

.documentList.grid .document  .documentLine .documentIcon ion-icon[name='document-text-outline'] {
    font-size: 3.5rem;
    border-radius: 10px;
    color: var(--color-primary);
    background: #fff;
} */

.documentList.grid .document  .documentLine .documentCreationDate,
.documentList.grid .document  .documentLine .documentSize {
    display: none;
}

.documentList.grid .document  .documentLine .documentName {
    font-size: .8rem;
    text-align: center;
}

.documentList.grid .document  .documentLine .documentName p a {
    text-decoration: underline;
    color: var(--color-primary);
}

.documentList.grid .document  .documentLine .documentOptions {
    display: flex;
    gap: 5px;
}

.documentList.grid .document  .documentLine .documentOptions button {
    height: 40px;
    border: none;
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 1rem;
    padding: 0 5px;
    background: transparent;
    transition: 0.2s ease;
    min-width: 75px;
}

.documentList.grid .document  .documentLine .documentOptions button p {
    display: none;
}
.documentList.grid .document  .documentLine .documentOptions button ion-icon {
    font-size: 1.5rem;
}

.documentList.grid .document  .documentLine .documentOptions button:hover {
    background: var(--color-primary-light-2);
}

.documentList.grid .document  .documentLine .documentOptions button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color-primary);
    gap: 10px;
}

/*================ DocumentView ================*/

.documentView {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: visibility 0.4s;
    z-index: 2;
}

.documentView.show {
    visibility: visible;
    transition: visibility 0s;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #33333333;
    transition: opacity 0.4s 0.2s ease-out;
}

.documentView.show .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.view {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    width: 75%;
    height: 0;
    background: var(--boder-darkgray);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out, height .4s;
}

.documentView.show .view {
    opacity: 1;
    height: 98vh;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out, height .6s;
}

.view embed {
    width: 100%;
    height: 100%;
}

.view button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    background-color: var(--boder-darkgray);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--boder-darkgray);
    transition: all .4s ease;
    padding: 0;
}

.view button:hover {
    color: var(--boder-darkgray);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.table tbody td button {
    height: 30px;
    margin-right: 35px;
    background: var(--color-primary);
    color: var(--bg-color);
    font-size: .8rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    transition: all 0.3s ease;
}

.table tbody th,
.table tbody td {
    border-top: 1px solid var(--boder-darkgray);
}






/*================ Media Queries ================*/

@media screen and (max-width: 1300px) {
    .documentList.grid .documents {
        grid-template-columns: repeat(4, 200px);
    }
}


@media screen and (max-width: 1024px) {

    .documentList.list .document  .documentLine .documentCreationDate,
    .documentList.list .document  .documentLine .documentSize{
        display: none;
    }

    .documentList.grid .documents {
        grid-template-columns: repeat(3, 200px);
    }
}

@media screen and (max-width: 750px) {

    body {
        padding: 0 3.5%;
    }

    .documentList.list .document  .documentLine .documentOptions button p {
        display: none;
    }
    .documentList.list .document  .documentLine .documentOptions button ion-icon {
        font-size: 1.5rem;
    }

    .documentList.list .document .documentLine .documentName {
        font-size: 13px;
        font-weight: 100;
    }

    .documentList .sectionIndication h3 {
        font-size: .8rem;
        font-weight: 600;
    }

    .documentList .sectionIndication {
        padding: 5px;
    }

    .documentList .sectionIndication .listOption {
        min-width: 10px;
        font-size: .8rem;
    }

    .documentList .sectionIndication .searchBar {
        width: 75%;
        font-size: 12px;
    }

    .documentList .sectionIndication .searchBar form input[type="search"] {
        font-size: .8rem;
    }

    .documentList.grid .documents {
        grid-template-columns: repeat(2, 200px);
    }

   /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 25px;
    }

    footer .footer-content ul li a{
        font-size: 12px;
    }

    footer .footer-content .socials ion-icon {
        font-size: 1rem;
    }

    footer .footer-content .copyright {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {

    body {
        padding: 0 3.5%;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav_menu {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        height: 50px;
        background: #ffffff80;
        position: absolute;
        border-radius: 8px;
        top: 70px;
        transform: translateY(-120px);
        transition: .4s ease-in-out;
        z-index: -1;
    }

    nav .nav_menu.displayMenu {
        transform: translateY(0);
    }

    nav .nav_menu ul li a {
        font-size: 12px;
    }

    nav .menuHamburger {
        display: block;
    }

    .documentList.grid .documents {
        grid-template-columns: repeat(2, 200px);
    }

    /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer .footer-content ul {
        margin: 0 0 15px;
    }

    footer .footer-content ul li a{
        font-size: 10px;
    }

    footer .footer-content .socials {
        margin-bottom: 20px;
    }

    footer .footer-content .socials ion-icon {
        font-size: .7rem;
    }

    footer .footer-content .copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 455px) {

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav_menu {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        background: #ffffff80;
        position: absolute;
        border-radius: 8px;
        top: 70px;
        transform: translateY(-120px);
        transition: .4s ease-in-out;
        z-index: -1;
    }

    nav .nav_menu ul li a {
        font-size: 12px;
    }

    .documentList.grid .documents {
        grid-template-columns: repeat(1, 200px);
        gap: 5px;
    }

    /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer .footer-content ul {
        margin: 0 0 15px;
        width: 100%;
    }

    footer .footer-content ul li a{
        font-size: 10px;
    }

    footer .footer-content .socials {
        margin-bottom: 20px;
        width: 40%;
    }

    footer .footer-content .socials ion-icon {
        font-size: .7rem;
    }

    footer .footer-content .copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 399px) {

    .documentList.grid .documents {
        grid-template-columns: repeat(1, 200px);
        gap: 15px;
    }

}
