/*================ Connexion Message ================*/

.settings {
    margin-top: 100px;
    min-height: 90vh;
    padding: 0 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connexion-message {
    width: 100%;
    background: transparent;
    border-radius: 8px;
    /* padding: 0 25px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

.connexion-message .twofa-message {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.connexion-message .twofa-message.success {
    background: #00ff0020;
    color: #0f0;

}

.connexion-message .twofa-message.error {
    background: #ff000020;
    color: #f00;
}

.connexion-message .twofa-message h3 {
    font-weight: 200;
}

.connexion-message .recovery-container {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connexion-message .recovery-container .QrContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.connexion-message .recovery-container .QrContainer .QrMessage {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0889fa;
}

.connexion-message .recovery-container .Qrcode {
    margin: 10px;
    width: 230px;
    height: 230px;
    background: #fff;
    border-radius: 10px;
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  -5px 5px 20px #e3e3e3,
                 5px -5px 20px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* .search-zone {
        padding: 0 7.5%;
    } */

form .input {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    outline: none;
    border: .5px solid #0889fa;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    margin: 10px 0 25px;
    background: #fff;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}

form button {
    height: 45px;
    padding: 5px 10px;
    background: #0889fa10;
    color: #0889fa;
    font-weight: 600;
    align-self: flex-end;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

form button:hover {
    background: #0889fa20;
}

.connexion-message .recovery-container .Qrcode {
    margin: 10px;
    width: 230px;
    height: 230px;
    background: #fff;
    border-radius: 10px;
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  -5px 5px 20px #e3e3e3,
                 5px -5px 20px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recuperation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.recuperation p {
    color: #0889fa;
    font-size: 1.2rem;
}

.recuperation ul {
    background: #0889fa20;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    list-style: none;
    width: 100%;
}

.recuperation ul li {
    margin: 5px 0;
    letter-spacing: 3px;
}

/*================ Information Zone ================*/

.infos-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
}

.infos-zone .info-container {
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-primary-light);
    color: #333;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    border: .5px solid var(--color-primary);
}

.infos-zone .info-container .info-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 25px;
    color: var(--color-primary);
}

.infos-zone .info-container p {
    font-weight: 400;
    font-size: 15px;
}

/*================ Recent ================*/

.recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 7.5%;
}

.recent .recent-title {
    width: 80%;
    padding: 15px 25px;
}

.recent .recent-title h3 {
    margin: 15px;
    font-size: 1.5rem;
    color: #333;
}

.recent .recent-container {
    width: 80%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.recent .recent-container .recentDocumentCard {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #6363ff10;
    border-radius: 8px;
    padding: 10px;
    transition: all .4s ease;
}

.recent .recent-container .recentDocumentCard .check {
    width: auto;
    height: 100%!important;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.recent .recent-container .recentDocumentCard .check input {
    width: 20px;
    height: 20px;
}

.recent .recent-container .recentDocumentCard .docImage {
    width: 150px;
    height: 100px;
    padding: 0 15px;
    /* border-right: 1px solid #333; */
}

.recent .recent-container .recentDocumentCard .docImage .image {
    width: 100%;
    height: 100%;
}

.recent .recent-container .recentDocumentCard .docImage .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent .recent-container .recentDocumentCard .docInfos {
    width: 500px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    /* border-right: 1px solid #333; */
    color: #161622;
}

.recent .recent-container .recentDocumentCard .docInfos .docInfosItem {
    font-weight: 400;
}

.recent .recent-container .recentDocumentCard .docInfos .docInfosItem.nom {
    margin-bottom: 15px;
    font-weight: 900;
    color: #6363ff;
}

.recent .recent-container .recentDocumentCard .docInfos .docInfosItem.nom a {
    text-decoration: none;
    color: inherit;
}

.recent .recent-container .recentDocumentCard .docInfos .docInfosItem span {
    font-weight: 600;
}

.recent .recent-container .recentDocumentCard  .docOptions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
    height: 110px;
    border-bottom: 5px solid #6363ff;
}

.recent .recent-container .recentDocumentCard  .docOptions button {
    border: none;
    font-size: 1.2rem;
    background: transparent;
    font-weight: 600;
    color: #333;
    padding: 0;
    transition: all .4s ease;
}

.recent .recent-container .recentDocumentCard  .docOptions button:hover {
    color: #6363ff;

}

.recent .recent-container .recentDocumentCard  .docOptions button a {
    text-decoration: none;
    color: inherit
}

/* .recent .recent-container .recent-element {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent .recent-container .recent-element a {
    font-size: 4rem;
    color: #0889fa;
    color: #ffd500;
    height: 65px;
}

.recent .recent-container .recent-element a ion-icon[name='document-text-outline']{
    color: #333;
    font-weight: 100;
    background: #fff;
    border-radius: 15px;
}

.recent .recent-container .recent-element a img{
    width: 50px;
    /* height: 64px;
}

.recent .recent-container .recent-element p {
    font-size: .8rem;
    font-weight: 300;
    color: #333;
    height: 60px;
    text-align: center;
} */


/*================ Media Queries ================*/


/*================ MEDIA QUERIES (SMALL DEVICES) ================*/
@media screen and (max-width: 750px) {

   /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 25px;
    }

    footer .footer-content ul li a{
        font-size: 12px;
    }

    footer .footer-content .socials ion-icon {
        font-size: 1rem;
    }

    footer .footer-content .copyright {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {

    body {
        padding: 0 3.5%;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav_menu {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        height: 50px;
        background: #ffffff80;
        position: absolute;
        border-radius: 8px;
        top: 70px;
        transform: translateY(-120px);
        transition: .4s ease-in-out;
        z-index: -1;
    }

    nav .nav_menu.displayMenu {
        transform: translateY(0);
    }

    nav .nav_menu ul li a {
        font-size: 12px;
    }

    nav .menuHamburger {
        display: block;
    }

    /*================ Search Zone ================*/

    body {
        padding: 0 3.5%;
    }

    .recent .recent-container {
        grid-template-columns: repeat(3, 1fr);
      }

    .search-zone {
        transition: .4s ease;
    }

    .search-zone.marge {
        margin-top: 20px;
    }


    .infos-zone .info-container {
        width: 100%;
    }

    .recent .recent-title {
        width: 100%;
        text-align: center;
    }

    .recent .recent-title h3 {
        font-size: 1rem;
    }

    /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer .footer-content ul {
        margin: 0 0 15px;
    }

    footer .footer-content ul li a{
        font-size: 10px;
    }

    footer .footer-content .socials {
        margin-bottom: 20px;
    }

    footer .footer-content .socials ion-icon {
        font-size: .7rem;
    }

    footer .footer-content .copyright {
        font-size: 10px;
    }
}
@media screen and (max-width: 455px) {

    nav {
        width: 100%;
        /* background: #fff; */
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav_menu {
        display: flex;
        justify-content: space-evenly;
        /* width: 85%; */
        height: 50px;
        background: #ffffff80;
        position: absolute;
        border-radius: 8px;
        top: 70px;
        transform: translateY(-120px);
        transition: .4s ease-in-out;
        z-index: -1;
    }

    nav .nav_menu ul li a {
        font-size: 12px;
    }

    /*================ Footer ================*/

    .recent .recent-container {
        grid-template-columns: repeat(2, 1fr);
    }



    footer .footer-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer .footer-content ul {
        margin: 0 0 15px;
        width: 100%;
    }

    footer .footer-content ul li a{
        font-size: 10px;
    }

    footer .footer-content .socials {
        margin-bottom: 20px;
        width: 40%;
    }

    footer .footer-content .socials ion-icon {
        font-size: .7rem;
    }

    footer .footer-content .copyright {
        font-size: 10px;
    }
}
@media screen and (max-width: 348px) {
    .recent .recent-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
