/*================ NavBar ================*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 7.5%;
    background: transparent;
    backdrop-filter: blur(100px);
    color: var(--color-primary);
    position: fixed;
    transition: all .6s .2s ease;
    z-index: 1;
}

nav.scrolled {
    background: #6363ff;
    background: linear-gradient(45deg, #162233 35%, #6363ff 100%);
    color: var(--text-color-white);
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 500;
}

nav.scrolled .logo {
    color: var(--text-color-white);
}

nav .nav_menu {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
}

nav .nav_menu ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

nav .nav_menu ul li {
    list-style: none;
    margin-right: 50px;
}

nav .nav_menu ul li a {
    text-decoration: none;
    /* color: var(--text-color); */
    color: inherit;
    transition: color .4s ease;
}

nav .nav_menu ul li a:hover {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
}

nav .nav_menu ul li.active a {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
}



nav .nav_menu ul li.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    text-decoration: none;
    background: var(--color-primary);
    border: .25px solid var(--color-primary);
    border-radius: 25%;
    width: 5%;
    height: 2px;
    opacity: 1;
    transition: width .4s ease;
}



nav .nav_menu ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    text-decoration: none;
    background: var(--color-primary);
    border: .25px solid var(--color-primary);
    border-radius: 25%;
    width: 0;
    height: 2px;
    opacity: 0;
    transition: width .4s ease, opacity .2s .1s ease;
}

nav .nav_menu ul li:hover::before {
    opacity: 1;
    width: 5%;
    transition: width .4s ease;
}

nav .menuHamburger {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s ease;
    display: none;
}

nav .menuHamburger:hover {
    background: #ffffff80;
}

nav .menuHamburger ion-icon {
    font-size: 1.8rem;
}
