/*================ NavBar ================*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 7.5%;
    /* background: transparent; */
    background: linear-gradient(45deg, #16223320 35%, #6363ff20 100%);
    backdrop-filter: blur(100px);
    color: var(--color-primary);
    position: fixed;
    transition: all .6s .2s ease;
    z-index: 1;
    box-shadow: var(--box-shadow-normal-dark);
}

nav.scrolled {
    background: #6363ff;
    background: linear-gradient(45deg, #162233 35%, #6363ff 100%);
    color: var(--text-color-white);
}

nav.scrolled .black {
    display: none;
}

nav:not(.scrolled) .white {
    display: none;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 500;
}

nav img {
    width: 120px;
    height: 90%;
    /* background: red; */
}

nav.scrolled .logo {
    color: var(--text-color-white);
}

nav .nav_menu {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
}

nav .nav_menu ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

nav .nav_menu ul li {
    list-style: none;
    margin-right: 50px;
}

nav .nav_menu ul li a {
    text-decoration: none;
    color: inherit;
    transition: color .4s ease;
}

nav .nav_menu ul li a:hover {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
}

nav .nav_menu ul li.active a {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
}



nav .nav_menu ul li.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    text-decoration: none;
    background: var(--color-primary);
    border: .25px solid var(--color-primary);
    border-radius: 25%;
    width: 5%;
    height: 2px;
    opacity: 1;
    transition: width .4s ease;
}



nav .nav_menu ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    text-decoration: none;
    background: var(--color-primary);
    border: .25px solid var(--color-primary);
    border-radius: 25%;
    width: 0;
    height: 2px;
    opacity: 0;
    transition: width .4s ease, opacity .2s .1s ease;
}

nav .nav_menu ul li:hover::before {
    opacity: 1;
    width: 5%;
    transition: width .4s ease;
}

nav .nav_menu .profil_user {
    /* background: #162233; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav .nav_menu .profil_user:hover {
    box-shadow: var(--box-shadow-normal-dark);
}

nav .nav_menu .profil_user .profil {
    width: 35px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav .menuHamburger {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s ease;
    display: none;
}

nav .menuHamburger:hover {
    background: #ffffff80;
}

nav .menuHamburger ion-icon {
    font-size: 1.8rem;
}

nav .navDropdownContainer {
    background: var(--bg-color);
    min-width: 120px;
    padding: 10px;
    position: absolute;
    bottom: -140%;
    right: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-normal-dark);
    transition: all .4s ease;
}

nav .navDropdownContainer .navDropdownItem {
    width: 100%;
    height: 50px;
    background: var(--bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    flex-wrap: nowrap;
    border-radius: 5px  ;
}

nav .navDropdownContainer .navDropdownItem:hover {
    box-shadow: var(--box-shadow-thin-dark);
}

nav .navDropdownContainer .navDropdownItem a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    flex-wrap: nowrap;
    gap: 10px;
    text-decoration: none;
    color: var(--color-primary);
}
