.content {
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    display: none;
}

.content .website-infos {
    width: 100%;
    height: 395px;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: space-evenly;
    overflow: hidden;
}

.content .website-infos .infos-bloc {
    width: 100%;
    max-height: 95%;
    padding: 10px;
    background: #ffffff68;
    background: linear-gradient(45deg, #6363ff 0%, #fff 10%);
    border-radius: 10px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all .5s ease;
    box-shadow: var(--box-shadow-normal);
}

.content .website-infos .infos-bloc:hover {
    transform: scale(1.02);
}

.content .website-infos .infos-bloc .infos-title {
    width: 100%;
    height: 35px;
    padding: 10px;
    color: #6363ff;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .website-infos .infos-bloc .infos{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.content .website-infos .infos-bloc .infos .info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .website-infos .infos-bloc .infos .info.info-total {
    justify-content: flex-start;
    align-items: center;
}

.content .website-infos .infos-bloc .infos .info.info-total p {
    height: 50%;
    font-size: 1.5rem;
    display: flex;
    letter-spacing: 5px;
    align-items: center;
    font-style: italic;
    color: var(--text-color-light);
}

.content .website-infos .infos-bloc .infos .info.info-total h5 {
    height: 25%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-style: italic;
    color: var(--text-color-light)
}

.content .website-infos .infos-bloc .infos .info.donut {
    height: 100%;
    overflow: hidden;
    grid-column: 2 / 4;
    grid-row: 1 / span 2;
}

.content .website-infos .infos-bloc .infos .info.donut canvas#donut {
    width: 300px!important;
    height: 300px!important;
}


.content .website-infos .infos-bloc .infos .info .gauge {
    width: 110px;
    height: 90px;
    overflow: hidden;
}

.content .statistics-chart {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

.content .statistics-chart .member-connected-per-month {
    width: 100%;
    height: 90vh;
    background: #ffffff;
    border-radius: 10px;
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
    grid-column: 1 / 5;
}

.content .statistics-chart .member-connected-per-month canvas {
    width: 100%!important;
    height: 100%!important;
}

.content .statistics-chart .donut-graph {
    width: 500px;
    height: 300px;
    display: flex;
    border-radius: 10px;

    box-shadow: var(--box-shadow);
}

.content .statistics-chart .donut-graph canvas {
    height: 300px;
}

.content .statistics-chart .donut-graph .descript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .statistics-chart .donut-graph .descript h5 {
    font-weight: 400;
    font-size: medium;
    text-align: center;
}

.content .statistics-chart .donut-graph .descript p {
    font-weight: 200;
    font-size: medium;
    text-align: center;
}
