/*================ Description Section ================*/

.description-container {
    width: 100%;
    height: calc(100vh - 68px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7.5%;
    margin: 100px 0 0;
}

.description-container .description_msg {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description-container .description_msg h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 15px;
    background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-container .description_msg p {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px;
}

.description-container .description_msg .btn-signin {
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary);
    border-radius: 10px;
    outline: none;
    border: 0;
    background: linear-gradient(45deg, #16223350 35%, #6363ff50 100%);
    cursor: pointer;
    transition: all 0.4s ease;
}

.description-container .description_msg .btn-signin:hover {
    background: linear-gradient(45deg, #162233 35%, #6363ff 100%);
    opacity: 0.9;
}

.description-container .description_msg .btn-signin a {
    text-decoration: none;
    /* width: 100%; */
    height: 100%;
    background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-container .description_msg .btn-signin:hover a {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease;
}

.description-container .description_img {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*================ Preview Section ================*/

.carousel {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    /* border-radius: 20px; */
    padding: 10px 7.5%;
    background: #16223350;
}

swiper-container {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-slide p {
    position: absolute;
    width: 90%;
    border-radius: 15px;
    bottom: 20px;
    text-align: center;
    padding: 15px 150px;
    color: #333;
    background: #16223310;
    backdrop-filter: blur(10px);
    font-size: 18px;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.carousel-text {
    width: 100%;
    color: #333;
    margin: 10px 0 45px;
    padding: 0 7.5%;

}

.carousel-text h3 {
    text-align: center;
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 15px;
    background: -webkit-linear-gradient(0deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel-text p {
    text-align: center;
    font-size: 20px;
}

/*================ Advantage Section ================*/

.advantage {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7.5%;

}

.advantage .advantage-img {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage .advantage-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.advantage .advantage-text h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 15px;
    background: -webkit-linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantage .advantage-text p {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px;
}



/*================ Media Queries ================*/

/*================ MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen and (max-width: 1024px) {

    .bg_ball_style.ball3 {
        background: #C6FCFF;
        left: -149px;
        bottom: -1400px;
    }

    /*================ Description Section ================*/
    .description-container .description_msg h2 {
        font-size: 2rem;
    }

    .description-container .description_msg p {
        font-size: 16px;
    }

    .description-container .description_msg .btn-signin {
        width: 150px;
        height: 38px;
        font-size: 20px;
        font-weight: 400;
    }

    /*================ Preview Section ================*/

    .carousel {
        height: 75vh;
    }

    swiper-slide p {
        font-size: 15px;
    }

    .carousel-text h3 {
        font-size: 30px;
    }

    .carousel-text p {
        font-size: 16px;
    }

    /*================ Advantage Section ================*/

    .advantage .advantage-text h2 {
        font-size: 2rem;
    }

    .advantage .advantage-text p {
        font-size: 16px;
    }
}

/*================ MEDIA QUERIES (SMALL DEVICES) ================*/
@media screen and (max-width: 750px) {

    .bg_ball_style.ball3 {
        background: #C6FCFF;
        left: -149px;
        bottom: -1400px;
        display: none;
    }

    /*================ Description Section ================*/

    .description-container {
        height: calc(70vh - 68px);
    }

    .description-container .description_msg h2 {
        font-size: 1.3rem;
    }

    .description-container .description_msg p {
        font-size: 13px;
    }

    .description-container .description_msg .btn-signin {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 400;
    }

    /*================ Preview Section ================*/
    .carousel {
        height: 50vh;
    }

    swiper-slide p {
        font-size: 12px;
        padding: 15px 50px;
    }

    .carousel-text h3 {
        font-size: 25px;
    }

    .carousel-text p {
        font-size: 13px;
    }

    /*================ Advantage Section ================*/

    .advantage .advantage-text h2 {
        font-size: 1.3rem;
    }

    .advantage .advantage-text p {
        font-size: 13px;
    }

    footer .footer-content h2 {
        font-size: 25px;
    }

    footer .footer-content ul li a{
        font-size: 12px;
    }

    footer .footer-content .socials ion-icon {
        font-size: 1rem;
    }

    footer .footer-content .copyright {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {

    nav {
        width: 100%;
        /* background: #fff; */
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav_menu {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 50px;
        background: #ffffff80;
        position: absolute;
        border-radius: 8px;
        top: 70px;
        transform: translateY(-120px);
        transition: .4s ease-in-out;
        z-index: -1;
    }

    nav .nav_menu.displayMenu {
        transform: translateY(0);
    }

    nav .nav_menu ul li a {
        font-size: 12px;
    }

    nav .menuHamburger {
        display: block;
    }

    .bg_ball_style.ball3 {
        background: #C6FCFF;
        left: -149px;
        bottom: -1400px;
        display: none;
    }

    /*================ Description Section ================*/

    .description-container {
        height: calc(70vh - 68px);
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
        justify-content: center;
        align-items: center;
    }

    .description-container .description_img {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: none;
    }

    .description-container .description_msg h2 {
        font-size: 1.3rem;
    }

    .description-container .description_msg p {
        font-size: 13px;
    }

    .description-container .description_msg .btn-signin {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 400;
    }

    /*================ Preview Section ================*/
    .image img {
        width: 467px;
        height: 100%;
        object-fit: cover;
    }

    .carousel {
        height: 35vh;
    }

    swiper-slide p {
        font-size: 8px;
        padding: 15px 35px;
    }

    .carousel-text h3 {
        font-size: 20px;
    }

    .carousel-text p {
        font-size: 11px;
    }

    /*================ Advantage Section ================*/

    .advantage {
        width: 100%;
        height: 30vh;
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
        justify-content: center;
        align-items: center;
    }

    .advantage .advantage-img {
        display: none;
    }

    .advantage .advantage-text h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .advantage .advantage-text p {
        text-align: center;
        font-size: 11px;
    }

    /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer .footer-content ul {
        margin: 0 0 15px;
    }

    footer .footer-content ul li a{
        font-size: 10px;
    }

    footer .footer-content .socials {
        margin-bottom: 20px;
    }

    footer .footer-content .socials ion-icon {
        font-size: .7rem;
    }

    footer .footer-content .copyright {
        font-size: 10px;
    }
}
@media screen and (max-width: 455px) {

    nav {
        width: 100%;
        /* background: #fff; */
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav_menu {
        display: flex;
        justify-content: space-evenly;
        /* width: 85%; */
        height: 50px;
        background: #ffffff80;
        position: absolute;
        border-radius: 8px;
        top: 70px;
        transform: translateY(-120px);
        transition: .4s ease-in-out;
        z-index: -1;
    }

    nav .nav_menu ul li a {
        font-size: 12px;
    }

    .bg_ball_style.ball3 {
        background: #C6FCFF;
        left: -149px;
        bottom: -1400px;
        display: none;
    }

    /*================ Description Section ================*/

    .description-container {
        height: calc(70vh - 68px);
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
        justify-content: center;
        align-items: center;
    }

    .description-container .description_img {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: none;
    }

    .description-container .description_msg h2 {
        font-size: 1.3rem;
    }

    .description-container .description_msg p {
        font-size: 13px;
    }

    .description-container .description_msg .btn-signin {
        width: 100px;
        height: 35px;
        font-size: 13px;
        font-weight: 400;
    }

    /*================ Preview Section ================*/
    .image img {
        width: 352px;
        height: 100%;
        object-fit: cover;
    }

    .carousel {
        height: 25vh;
    }

    swiper-slide p {
        font-size: 6px;
        padding: 15px 15px;
    }

    .carousel-text h3 {
        font-size: 20px;
    }

    .carousel-text p {
        font-size: 11px;
    }

    /*================ Advantage Section ================*/

    .advantage {
        width: 100%;
        height: 30vh;
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
        justify-content: center;
        align-items: center;
    }

    .advantage .advantage-img {
        display: none;
    }

    .advantage .advantage-text h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .advantage .advantage-text p {
        text-align: center;
        font-size: 11px;
    }

    /*================ Footer ================*/

    footer .footer-content h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    footer .footer-content ul {
        margin: 0 0 15px;
        width: 100%;
    }

    footer .footer-content ul li a{
        font-size: 10px;
    }

    footer .footer-content .socials {
        margin-bottom: 20px;
        width: 40%;
    }

    footer .footer-content .socials ion-icon {
        font-size: .7rem;
    }

    footer .footer-content .copyright {
        font-size: 10px;
    }
}
